.pagination span{
    width: 2rem;
    height: 2rem;
    padding: 5px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: var(--heading-color);
    border: 1px solid var(--secondary-color);
    cursor: pointer;
}
.active__page{
    background: var(--secondary-color);
    color: #fff !important;
}